/*Positioning: Center your content in the browser window

Type: change in type: size, weight, color, alignment. See below about Google fonts.

Links/Navigation: Display vertically on mobile. Remove default browser styles (bullets and underlines) and make sure that they can be distinguished from one another visually.

Image: remove the border from your linked image (don’t forget this one; it doesn’t show up by default on most Mac browsers).

Background: Give something on the page a background color or background image. Use a color scheme to define the areas of the site, including the header, navigation, body and footer.

Type: Find the Google fonts you want to use here.Links to an external site. Add the link to the font in your html, and use the correct naming convention in your CSS. You'll need a full font stack in your CSS — the Google font, similar system font and serif or sans serif. Example: font-family: 'Roboto', Helvetica, sans-serif;

*/

body {


	}


nav {


	}

img {
	border: none;

}

a img {
	border: none;
}

.joke {
	width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto
	}

.maintext {
        background: black;
        color: white;
        border-radius: 1em;
        padding: 1em;
        position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%) 
    }


