.maindiv {
  background-image: url("../img/will_at_museum.jpg");
  background-color: gold;

}

.bookimage {
  
}


.bookimage img {
  max-width:300px;
  max-height: 200px;

}


.bitter {
  font-family: 'Bitter', serif;

}
.lorem {
  font-family: 'Open Sans', sans-serif;

  text-transform: capitalize;
  font-weight: 600;
  max-width: 50%;

}
.lorem2 {
  background-color: white;
  position: sticky;
top: 40px; left: 40px;
/*  float: right !important;*/
  font-family: 'Open Sans', sans-serif;

  text-transform: uppercase;
  font-weight: 800;
  max-width: 40%;
  min-width: 10%;
  margin: 5rem;
  padding: 1rem;

}

.smallimage {
  position: ;

}




.mark-img 
  {
    float: left;
    margin: 3px;
    /*padding-right: 10px;*/
    max-height: 3.5rem;
    margin-top: 0.5rem;


  }

.project-thumb {
  float: left;
  padding:.2rem;
  
}

.project-img {
  
  float: left;
  padding:1rem;
  margin-right:5px;
  margin-bottom: 1rem;
  margin-top: 0rem;
  max-width: 100%;
  
}