.headline {
  background-image: url("../img/will_at_museum.jpg");
/*background-color: teal;*/
}

.headline img {
  width: 100%;
}


.maindiv {
  width: 100%;
  background-image: url("../img/will_at_museum.jpg");
  background-color: gold;
  float: left;
}

.bookimage {
  float: left;
}


.bookimage img {
  margin: .3rem;
  max-width:300px;
/*  max-height: 200px;*/

}


.bitter {
  font-family: 'Bitter', serif;

}
.lorem {
  font-family: 'Open Sans', sans-serif;
  text-transform: capitalize;
  font-weight: 600;
  max-width: 50%;

}
.nav1 {
  background-color: white;
  position: sticky;
  top: 40px; left: 40px;
  float: right !important;
  font-family: 'Open Sans', sans-serif;

  text-transform: uppercase;
  font-weight: 800;
  max-width: 40%;
  min-width: 10%;
/*  margin: 5rem;*/
  margin: .1rem .2rem .1rem .1rem;
  border: dashed red;
  padding: .1rem .1rem .1rem .1rem;
  


}

.nav2 {
  float: left;
  margin: .2rem;
  background-color: lightgray;
}

.form-1 {
  position: sticky;
  top: 30px;
  background-color: rgba(0, 181, 229, .6);
  color: lightgray;
/*background: linear-gradient(217deg, rgba(255,0,0,.8), rgba(255,0,0,0) 70.71%),*/
/*            linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),*/
/*            linear-gradient(336deg, rgba(0,0,255,.8), rgba(0,0,255,0) 70.71%);*/
/*  background: linear-gradient(#00B5E5, #BF6500);*/
  margin: 2rem;

}

.smallimage {
  position: ;

}




.mark-img 
  {
    float: left;
    margin: 3px;
    /*padding-right: 10px;*/
    max-height: 3.5rem;
    margin-top: 0.5rem;


  }

.project-thumb {
  float: left;
  padding:.2rem;
  
}

.project-img {
  
  float: left;
  padding:1rem;
  margin-right:5px;
  margin-bottom: 1rem;
  margin-top: 0rem;
  max-width: 100%;
  
}


320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV


@media screen and (min-width:1024-1200px) {

  body {
    background-color: darkred;

  }
  .bitter {font-family: 'Lobster', cursive !important;}
  .nav1 {
  background-color: white;
  position: sticky;
  top: 10px; left: 5px;
  float: left !important;
  font-family: 'Open Sans', sans-serif;

  text-transform: lowercase;
  font-weight: 100;
  max-width: 40%;
  min-width: 10%;
/*  margin: 5rem;*/
/*  margin: 1rem 2rem 1rem 1rem;*/
/*  border: dashed red;*/
  padding: 1rem 3rem 1rem 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
/*  padding-left: 10rem;*/

}
}
@media screen and (min-width:800-1024px) {

  body {
    background-color: limegreen;
  }

}

@media screen and (min-width:600-800px) {
    body {
    background-color: skyblue;
  }
}

@media screen and (max-width:600px){
    body {
    background-color: black;
  }

}

