.maindiv {
  background-image: url("../img/will_at_museum.jpg");

}

.bookimage {
  
}
.bitter {
  font-family: 'Bitter', serif;

}
.lorem {
  font-family: 'Open Sans', sans-serif;

  text-transform: uppercase;
  font-weight: 800;
  max-width: 50%;

}
.lorem2 {
  float: left !important;
  font-family: 'Open Sans', sans-serif;

  text-transform: uppercase;
  font-weight: 800;
  max-width: 40%;
  margin: 5rem;

}

.smallimage {
  position: ;

}


.bookimage img {
  max-width:200px;


}



.mark-img 
  {
    float: left;
    margin: 3px;
    /*padding-right: 10px;*/
    max-height: 3.5rem;
    margin-top: 0.5rem;


  }

.project-thumb {
  float: left;
  padding:.2rem;
  
}

.project-img {
  
  float: left;
  padding:1rem;
  margin-right:5px;
  margin-bottom: 1rem;
  margin-top: 0rem;
  max-width: 100%;
  
}