test

@media screen and (max-width: 554px){

.maintext {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
      align-items: ;
      flex-direction: column; 
        background: #00827F; /* Teal green */
        color: white;
        border-radius: .1em;
        padding: 1em;
        font-size: 1.5rem;
        
    }

    .nav1 {
      align-items: right;
      background-color: transparent;

      font-family: 'Open Sans', sans-serif;
      text-transform: uppercase;
      font-weight: 100;
      font-size: 2.0rem;
      max-width: 100%;
      min-width: 85%;
  

   }

   
header  .nav1 a {
    background-color: palevioletred;
    display: block;
    border: dotted red 1px;
    padding: .2rem;
    margin: .2rem;
    float: right;
   }

.jokepunchline {
  
    
text-shadow: teal 1px 0 5px;x
  }

    }




